*{
     margin: 0px;
     padding: 0px;
}

body{
    background: url("imagenbody.jpg");
    background-size:cover;
    background-position:center;  
    font-family:Arial, Helvetica, sans-serif
}

#contenedor{
    height: 1900px;
    width: 1060px;
    margin: 0pt auto;
}

header{

    height: 80px;
    width: 1060px;
    line-height: 80px;
    text-align: center;
    color: yellow;
}

nav{
    border-top: 2px solid rgb(0, 0, 0);
    height: 40px;
}

nav ul li{
    float: left;
    font-size:small;
    font-optical-sizing: auto;
    list-style: none;
    margin: 10px;
}

 
#contenido{
    background: url("imagen1.jpg");
    background-size:cover;
    background-position:center;  
    float:none;
    width: 1020px;
    min-height: 420px;
    padding: 20px;
    margin-top: 2px;
    text-align: center;
}

.articulo h2{
    color: blue;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 20px;
}

.articulo p{
    color: blueviolet;
    font-style:oblique;
    margin-left: 100px;
    margin-right: 100px;
}


#espacio{float:none; width: 1020px; min-height: 70px;}

#mistrabajos{

    float:none;
    width: 1020px;
    min-height: 520px;
    padding: 10px;
    margin-top: 2px;
    text-align: center;
}
.ahorcado li{
    position: absolute;
    right:300px;
    list-style: none;
}
.portfolio li{
    position: absolute;
    right:300px;
    list-style: none;
}

.ahorcado h2{
    color: rgb(197, 12, 12);
    margin-top: 10px;
    margin-bottom: 10px;
}
.ahorcado p{color: blue;}
.portfolio h2{
    color: rgb(197, 12, 12);
    margin-top: 40px;
    margin-bottom: 10px;
}
.portfolio p{color: blue;}

#espacio{float:none; width: 1020px; min-height: 140px;}

/* Formulario de Contacto */

.contact_form{width: 540px; height: auto; margin: 40px auto; border-radius: 10px; padding-top: 30px; 
    padding-bottom: 20px; background-color: #fbfbfb; padding-left: 30px;}
  
  
  input{background-color: #fbfbfb; width: 500px; height: 40px; border-radius: 5px; border-style: solid; border-width: 1px; 
    border-color: #ab4493; margin-top: 5px; padding-left: 5px; margin-bottom: 10px;}
  
  
  textarea{background-color: #fbfbfb; width: 500px; height: 100px; border-radius: 5px; border-style: solid; border-width: 1px;
    border-color: #ab4493; margin-top: 5px; padding-left: 5px; margin-bottom: 10px; padding-top: 10px;}
  
  label{display: block; float: center;}
    
  button{height: 35px; width: 250px; margin-bottom: 10px; margin-top: 1px; text-transform: uppercase;
    background-color: #ab4493; border-color: #c36eafd5; border-style:groove; border-radius: 10px; 
    margin-left: 260px;cursor: pointer;}
    
  button p{color: rgb(246, 255, 0);margin-left: 350;}
    
  span{color: #ab4493;}
    
  .aviso{font-size: 13px; color: #0e0e0e;text-align: center;}
    
  h1{font-size: 39px; text-align: center; padding-bottom: 20px; color: #ab4493;}
    
  h2{font-size: 16px; padding-bottom: 30px; color: #0e0e0e;text-align: center;}
    
  p{font-size: 14px; color: #0e0e0e;}
    
  ::-webkit-input-placeholder {color: #a8a8a8;}
    
  ::-webkit-textarea-placeholder {color: #a8a8a8;}
    
  .formulario input:focus{outline:0; border: 1px solid #97d848;}
    
  .formulario textarea:focus{outline:0; border: 1px solid #97d848;}
  

footer{
    color: wheat;
    text-align: right;
    margin-right: 10px;
    margin-top: 20px;
}

