*{
     margin: 0px;
     padding: 0px;
}

body{
    background: url("imagen1.jpg");
    background-size: cover;
    background-position: center center;
    height: 90vh;
    font-family:Arial, Helvetica, sans-serif
}

#contenedor{
    width: 1400px;
    margin: 0pt auto;
}

header{
    height: 100px;
    width: 90%;
    text-align: center;    
    line-height: 120px;
    color: rgb(46, 80, 194);
}

nav{
    height: 50px;
    border-bottom: 2px solid black;
}

nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}

.anularestilos{
    clear: both;
}
 
#contenido{
    float: left;
    width: 1020px;
    min-height: 400px;
    padding: 40px;
}

#articulo{
    color: white;
    margin-top: 15px;
    padding-bottom: 10pk;
    border-bottom: 1px solid #eee;
}

.articulo:first-child{
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.articulo h2{
    font-size: 20px;
}

footer{
    background: #000f;
    color: white;
    text-align: right;
    margin-right: 20px;
    height: 30px;
    line-height: 50px;
 }

